*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color:#fff6f4;
}
.line{
  outline: 1px solid red;
}
.uppercase{
  text-transform: uppercase;
}
a{
  text-decoration: none;
}
/*vista splash*/
.splash{
  background: radial-gradient(circle,#b2077b,#530060);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  left:0;
}
/* efecto fadein al logo white*/
@keyframes fadein {
  from {opacity: 1;}
  to {opacity: 0.3;}
}

img[alt="logo-white"]{
  animation: fadein 1.5s;
  animation-iteration-count: infinite;
}
/*vista inicio*/
.start{
  background-image: url(../assets/images/traffic.gif);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 100vh;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
img[alt="logo" ]{
  height: 10vh;
  width: 90vw;
}

/*logo pink*/
img[alt="logo-pink"]{
  height: 80vh;
  width: 90vw;
}
.flex-button{
  display: flex;
  justify-content: center;
}
/* fin de la vista*/
.btn-start{
  background-color: #e40b8d;
  margin-right: 2rem;
  color:white;
  padding: 2rem 3rem 1rem 3rem;
}

/*vista sign-up*/
/*menú*/
.title-sign{
  margin-left: 18rem;
}
.sign-up{
  background: linear-gradient(650deg,#b2077b,#530060);
  color:white;
}
.return{
  color:#b2077b;
  font-size: 4rem;
}
img[alt="flag"]{
  width: 30px;

}
/*boton de las banderas*/
.btn-flag{
  margin-bottom: 5px;
  margin-left: 2rem;
}
.block{
  display: none;
}

.text-sign{
  margin-top: 2rem;
  margin-bottom: 25rem;
}

.btn-enabled{
  background-color: #b2077b;
  font-weight: 900;
  color:white;
}
/*codigo postal*/
.code-postal{
  width: 30%;
}
/*entrada para el numero de telefono*/
.number-phone{
  display: inline-block;
}
/*mensaje para el codigo postal*/
.content-modal{
  background: linear-gradient(650deg,#b2077b,#530060);
  color:white;
  width: 50%;
  margin-left: 30%;;
  margin-top: 20%;
}

/*vista verify*/
.box-verify{
  width: 50%;
}
.code{
  width: 10vw;
  border:none;
  border-bottom: 4px solid #b2077b;
}
.disabled-color{
  background-color: #CDCDCE;
}

.title-verify{
  margin-left: 9rem;
}

.text-verify{
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
}
/*botón resent*/
.btn-resent{
  margin-left: 16rem;
  margin-bottom: 15rem;
  background-color: #a3218e;
  color: white;
}

/*vista para el formulario*/
.check{
  width: 60%;
  margin-bottom: 15rem;
}

/* vista final*/
.end{
  background: linear-gradient(650deg,#b2077b,#530060);
  height: 100vh;
}

/* imagen del logo blanco lyft*/
img[alt="logo-final"]{
  width: 50vw;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.flex1{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 992px){
  /* vista inicio*/
  .start{
    background-position: center;
  }
  img[alt="logo-pink"]{
    height: 80vh;
  }
  .btn-start{
    margin-right: 6rem;
  }

  .btn-resent{
  margin-left: 32rem;
  }
  .title-sign{
    margin-left: 35rem;
  }
  .center{
    margin-left: 32rem;
  }
  .code-postal{
    width: 50%;
  }
  /*entrada para el numero de telefono*/
  .number-phone{
    width: 50%;
  }
  .title-verify{
    margin-left: 30rem;
  }
  .text-verify{
    margin-left: 8rem;
  }
  .check{
    width: 35%;
  }
}

/*
@media (min-width: 1200px){
  img[alt="logo-pink"]{
    width: 20vw;
    outline: 1px solid red;
  }

  .title-sign{
    margin-left: 60rem;
  }
  .center{
    margin-left: 56rem;
  }
  .btn-resent{
    margin-left: 45rem;
  }

  .title-verify{
    margin-left: 40rem;
  }
  .text-verify{
    margin-left: 14rem;
  }
}
*/
