*{
  margin: 0;
  padding: 0;

}
.line{
  outline: 1px solid red;
}
.uppercase{
  text-transform: uppercase;
}
a{
  text-decoration: none;
}
/*vista splash*/
.splash{
  text-align: center;
  background: linear-gradient(650deg,#b2077b,#530060);
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  position: fixed;
  top: 0;
  left:0;
}
/*logo de la vista splash*/
img[alt="logo-white"]{
  width: 50%;
}

/*vista inicio*/
.start{
  background-image: url(../assets/images/car.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  height: 150vh;

}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
/*logo pink*/
img[alt="logo-pink"]{
  height: 40vh;
  width: 100vw;
  margin-top: 20rem;
  margin-bottom: 10rem;
}
.btn-start{
  background-color: transparent;
  padding: 2rem;
  margin-right: 1rem;
  color:white;
}
/*vista sign-up*/
/*menú*/
.sign-up{
    background: linear-gradient(650deg,#b2077b,#530060);
    color:white;
}
.return{
color:#b2077b;
font-size: 4rem;
}

img[alt="peru"],img[alt="mexico"],img[alt="venezuela"],img[alt="estados-unidos"] {
  width: 4vw;
  height: 4vh;
}
.text-sign{
  margin-top: 2rem;
  margin-bottom: 25rem;
}

.btn-enabled{
  background-color: #b2077b;
  font-weight: 900;
}

/*vista verify*/
.box-verify{

width: 50%;
}
.code{
  width: 10vw;
  border:none;
  border-bottom: 1px solid #b2077b;
}
.disabled-color{
background-color: #CDCDCE;
}
