<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Web app Lyft</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <!--menú sign up-->
    <nav class="navbar navbar-default sign-up">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="../views/verify-phone.html"><i class="glyphicon glyphicon-chevron-left return"></i></a>
          <h2 class="margin">Sign up</h2>
          <p class="text-center margin-text">Join now for free ride credit</p>
        </div>
      </div>
    </nav>
    <!--sección del formulario-->
    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <form class="form">
              <div class="row">
                <!--entrada para el nombre-->
                <div class="col-xs-6">
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                      <input type="text" class="form-control" id="first-name" placeholder="First name" required>
                    </div>
                  </div>
                </div>
                <!--entrada para el apellido-->
                <div class="col-xs-6">
                  <div class="form-group">
                    <input type="text" class="form-control" id="last-name"  placeholder="Last name" required>
                  </div>
                </div>
              </div>
              <!--entrada para el correo-->
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></div>
                  <input type="email" class="form-control" id="email" placeholder="Email" required>
                </div>
                </div>
                <!--sección del check-->
                <div class="checkbox check center-block">
                  <label>
                    <input type="checkbox" id="check"> I agree to Lyft'ss <span class="text-primary">Terms of Service</span>
                  </label>
                </div>
                <button type="submit" class="btn btn-default btn-lg btn-block" disabled="disabled" id="next-final"  >NEXT</button>
              </form>
          </div>
        </div>
      </div>
    </section>
    <!--vinculando con el archivo jquery-->
    <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
    <!--vinculando con el framework bootstrap-js-->
    <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <!--vinculando con el archivo formul-->
    <script type="text/javascript" src="../js/formul.js"></script>
  </body>
</html>
