<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--etiqueta responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Web app Lyft</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <!--menú sign up-->
    <nav class="navbar navbar-default sign-up">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="../index.html"><i class="glyphicon glyphicon-chevron-left return"></i></a>
          <h2 class="text-center ">Sign up</h2>
          <p class="text-center ">Join now for free ride credit</p>
        </div>
      </div>
    </nav>
    <!--formulario-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="input-group">
            <div class="input-group-btn">
              <!--botón despegable de las banderas-->
              <button type="button" class="btn btn-default dropdown-toggle btn-flag" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../assets/images/peru.png" alt="peru" id="flag"><span class="caret"></span></button>
              <!--menu despegable de banderas-->
              <ul class="dropdown-menu">
                <li><a href="#mexico" data-toggle="modal" ><img src="../assets/images/mexico.png" alt="mexico" id="flag-mexico"></a></li>
                <li><a href="#venezuela" data-toggle="modal"><img src="../assets/images/venezuela.png" alt="venezuela" id="flag-venezuela"></a></li>
                <li><a href="#estados-unidos" data-toggle="modal"><img src="../assets/images/estados-unidos.png" alt="estados-unidos" id="flag-estados-unidos"></a></li>
              </ul>
            </div>
            <!--modal para indicar el codigo postal-méxico-->
            <div class="modal fade" id ="mexico">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header content-modal">
                    <!--botón para cerrar-->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="text-center">Selecciona el codigo postal 1160</p>
                  </div>
                </div>
              </div>
            </div>
            <!--modal para indicar el codigo postal-venezuela-->
            <div class="modal fade" id ="venezuela">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header content-modal">
                    <!--botón para cerrar-->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="text-center">Selecciona el codigo postal 06880</p>
                  </div>
                </div>
              </div>
            </div>
            <!--modal para indicar el codigo postal-estados unidos-->
            <div class="modal fade" id ="estados-unidos">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header content-modal">
                    <!--botón para cerrar-->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <p class="text-center">Selecciona el codigo postal 34038</p>
                  </div>
                </div>
              </div>
            </div>
            <!--menú para el codigo postal-->
            <div class="code-postal">
              <select class="form-control">
                <option>51</option>
                <option>1160</option>
                <option>06880</option>
                <option>34038</option>
              </select>
            </div>
            <!--entrada para el número de celular-->
            <div class="number-phone">
              <input type="text" class="form-control " maxlength="9" placeholder="954215850" id="number-phone">
            </div>
          </div>
          <p class="text-center text-sign">We'll send a text to verify your phone </p>
          <!--botón next-->
          <button type="button" class="btn btn-default btn-lg btn-block text-uppercase" disabled id="next" >next</button>
        </div>
      </div>
    </div>
    <!--vinculando con el archivo jquery-->
    <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
    <!--vinculando con el framework bootstrap-js-->
    <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/sign-up.js"></script>
   </body>
  </html>
