<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--etiqueta responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Web app Lyft</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <!--menú sign up-->
  <nav class="navbar navbar-default sign-up">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="../index.html"><i class="glyphicon glyphicon-chevron-left return"></i></a>
        <h2 class="text-center ">Sign up</h2>
        <p class="text-center ">Join now for free ride credit</p>
      </div>
    </div>
  </nav>
  <!--formulario-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="input-group">
          <div class="input-group-btn">
            <!--botón despegable de las banderas-->
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../assets/images/peru.png" alt="peru" id="flag"><span class="caret"></span></button>
            <!--codigo antes del numero de celular-->
            <button type="button" class="btn btn-default" id="#postal">51</button>
            <!--menu despegable de banderas-->
            <ul class="dropdown-menu">
              <li><a href="#"><img src="../assets/images/mexico.png" alt="mexico" id="flag-mexico"></a></li>
              <li><a href="#"><img src="../assets/images/venezuela.png" alt="venezuela" id="flag-venezuela"></a></li>
              <li><a href="#"><img src="../assets/images/estados-unidos.png" alt="estados-unidos" id="flag-estados-unidos"></a></li>
            </ul>
          </div>
          <!--entrada para el número de celular-->
          <input type="text" class="form-control" maxlength="10" placeholder="954215850" id="number-phone">
        </div>
        <p class="text-center text-sign">We'll send a text to verify your phone </p>
        <!--botón next-->
        <button type="button" class="btn btn-default btn-lg btn-block text-uppercase" disabled id="next" href="">next</button>
        <div class="hide alert bg-danger text-center" id="alert"></div>
      </div>
    </div>
  </div>


    <!--vinculando con el archivo jquery-->
    <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
    <!--vinculando con el framework bootstrap-js-->
    <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/sign-up.js"></script>
  </body>
</html>
