<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--etiqueta responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Web app Lyft</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <!--menú sign up-->
  <nav class="navbar navbar-default navbar-registro">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand btn-volver" href="../index.html"><i class="glyphicon glyphicon-menu-left"></i></a>
        <h3 class="text-center ">Sign up</h3>
        <p class="text-center ">Join now for free ride credit</p>
      </div>
    </div>
  </nav>
  <!--formulario-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 ">
        <form class="">

        </form>
  					<div class="input-group">
  						<div class="input-group-btn">
  							<button type="button" class="btn btn-default dropdown-toggle subir-capa" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../assets/images/bandera.png"> <span class="caret"></span></button>
  							<button type="button" class="btn btn-default subir-capa" id="cincuenta-y-uno">+51</button>
  							<ul class="dropdown-menu">
  								<li><a href="#">EEUU</a></li>
  								<li><a href="#">Spain</a></li>
  								<li><a href="#">England</a></li>
  							</ul>
  						</div><!-- /btn-group -->
  						<input id="input-celular" type="tel" class="form-control" maxlength="9" placeholder="123456789">
  					</div><!-- /input-group -->
  				</div><!-- /.col-lg-6 -->
  			</div><!-- /.row -->
  			<div class="ocultar cuadrado-negro" id="cuadrado-negro"></div>
  			<a id="obtener-codigo"><button class="btn btn-default btn-lg btn-siguiente">Next</button></a>
  		</div>

    <!--vinculando con el archivo jquery-->
    <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
    <!--vinculando con el framework bootstrap-js-->
    <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
  </body>
</html>
