<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--etiqueta responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Web app Lyft</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <!--menu verify-->
    <nav class="navbar navbar-default sign-up">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="../views/sign-up.html"><i class="glyphicon glyphicon-chevron-left return"></i></a>
          <h2 class="margin-verify">Verify phone Number</h2>
            <p class="text-center margin-text1">Join now for free ride credit</p>
        </div>
      </div>
    </nav>
    <!-- seccion para introducir el código-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-6  col-md-offset-3 ">
          <div class="box-verify center-block ">
            <span class="text-uppercase">lab-</span>
            <!--entrada para el codigo-->
            <input type="text" class="" id="input1">
            <!--<input type="text" class="inline-block code" id="input2">
            <input type="text" class="inline-block code" id="input3">-->
            <p class="marg-top">Enter the code sent to +52</p>
          </div>
          <!--boton resent-->
          <button type="button" class="btn btn-default btn-resent" id="button-resend">Resent Code</button>
          <!--boton next-->
          <a  class="btn btn-default btn-lg btn-block text-uppercase disabled" role="button" id="next2" >next</a>
        </div>
      </div>
    </div>
    <!--vinculando con el archivo jquery-->
    <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
    <!--vinculando con el framework bootstrap-js-->
    <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/sign-up.js"></script>
    <!--<script type="text/javascript" src="../js/verify-phone.js"></script>-->
  </body>
</html>
