<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--etiqueta responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Web app Lyft</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <nav class="navbar navbar-default sign-up">
    <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="../views/sign-up.html"><i class="glyphicon glyphicon-chevron-left return"></i></a>
        <h2 class="text-center ">Verify phone Number</h2>
        <p class="text-center ">Join now for free ride credit</p>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="box-verify center-block">


        <span class="text-uppercase">lab-</span>
        <input type="text" class="inline-block code" id="cod1">
        <input type="text" class="inline-block code" id="cod2">
        <input type="text" class="inline-block code" id="cod3">
        <p class="text-sign">Enter the code sent to +52</p>

  </div>
  <button type="button" class="btn btn-default button-reset" id="button-reset">Resent Code</button>
  <button type="button" class="btn btn-default btn-lg btn-block text-uppercase disabled-color" disabled="disabled" id="next2" >next</button>
      </div>

    </div>

  </div>


    <!--vinculando con el archivo jquery-->
    <script type="text/javascript" src="../vendors/js/jquery-3.2.1.min.js"></script>
    <!--vinculando con el framework bootstrap-js-->
    <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/sign-up.js"></script>
    <script type="text/javascript" src="../js/verify-phone.js"></script>
  </body>
</html>
